.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 40px 48px;
}

.app-container.with-sidebar .main-content {
  margin-left: var(--sidebar-width);
  transition: margin-left var(--transition-speed) ease;
}
